body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  background-color: blue; /* Button background color */
  color: white; /* Button text color */
  cursor: pointer;
}

button:hover {
  background-color: yellow; /* Hover background color */
  color: black; /* Hover text color */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

nav {
  background-color: blue; /* Navbar background color */
  overflow: hidden;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 14px 20px;
  color: white; /* Navbar link text color */
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #575757; /* Navbar link hover background color */

}
/* app.css */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  input, textarea {
    width: 100%;
  }
}
